<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" href="">Главная</a>
        </li>
        <li th:unless="${isAuhorised}" class="nav-item pull-right"><a href="/register"><span
                class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
        <li th:unless="${isAuhorised}" class="nav-item"><a href="/login"><span
                class="glyphicon glyphicon-log-in"></span> Войти</a></li>
        <li th:if="${isAuhorised}" class="nav-item"><a class="nav-item nav-link" th:href="@{/logout}" tabindex="-1"
                                                       aria-disabled="true">Выход</a></li>
    </ul>
    <div class="center" th:unless="${isAuhorised}">
        <h3 style="text-align: center">Вы не вошли в систему, гостям доступны две функции:</h3>
        <div class="row">
            <div class="col">
                <a href="/cars"> <button type="button" class="btn btn-primary btn-lg btn-block two">Машины</button></a>
            </div>
            <div class="col">
                <a href="/list"><button type="button" class="btn btn-primary btn-lg btn-block two">Черный список</button></a>
            </div>
        </div>
    </div>
    <div class="center" th:if="${isAuhorised}">
        <h3 style="text-align: center">Добро пожаловать!</h3>
        <div class="row">
            <div class="col">
                <a href="/cars"> <button type="button" class="btn btn-primary btn-lg btn-block two">Машины</button></a>
            </div>
            <div class="col">
                <a href="/list"><button type="button" class="btn btn-primary btn-lg btn-block two">Черный список</button></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <a href="/drivers"> <button type="button" class="btn btn-primary btn-lg btn-block two">Водители</button></a>
            </div>
            <div class="col">
                <a href="/orders"><button type="button" class="btn btn-primary btn-lg btn-block two">Заказы</button> </a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.css}"></script>
</body>
</html>