<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/home}">Главная</a>
        </li>
        <li th:unless="${isAuhorised}" class="nav-item pull-right"><a th:href="@{/register}"><span
                class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
        <li th:unless="${isAuhorised}" class="nav-item"><a th:href="@{/login}"><span
                class="glyphicon glyphicon-log-in"></span> Войти</a></li>
        <li th:if="${isAuhorised}" class="nav-item"><a class="nav-item nav-link" th:href="@{/logout}" tabindex="-1"
                                                       aria-disabled="true">Выход</a></li>
    </ul>
    <div class="mt-10">
        <form role="form" th:object="${form}" th:action="@{/orders}" method="post" class="order form-horizontal">
            <div th:if="${addedSuccessful}" id="addedSuccessful">
                <div class="alert alert-success">
                    Ваш заказ добавлен!
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="input-group col-md-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-number">Номер заказа</span>
                    </div>
                    <input type="text" class="form-control" required name="number"
                           id="number" aria-describedby="inputGroup-sizing-number"/>
                </div>
                <div class="input-group col-md-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-receivingDate">Дата получения</span>
                    </div>
                    <input type="date" class="form-control" required name="receivingDate"
                           id="receivingDate" aria-describedby="inputGroup-sizing-receivingDate">
                </div>
                <div class="input-group col-md-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-address">Адрес</span>
                    </div>
                    <input type="text" class="form-control" required name="address"
                           id="address" aria-describedby="inputGroup-sizing-address"/>
                </div>
                <div class="input-group col-md-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-driverId"> id Водителя</span>
                    </div>
                    <input type="text" class="form-control" required name="driverId"
                           id="driverId" aria-describedby="inputGroup-sizing-driverId"/>
                </div>
                <div class="input-group col-md-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-description">Описание</span>
                    </div>
                    <input type="text" class="form-control" required name="description"
                           id="description" aria-describedby="inputGroup-sizing-description"/>
                </div>
                <div class="input-group col-md-12">
                    <input type="submit" id="registerButton" class="btn btn-primary form-control" value="Добавить">
                </div>
            </div>
            <div th:if="${orderError}" id="loginError">
                <div class="alert alert-danger">
                    Данный заказ уже зарегистрирован!
                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Номер заказа</th>
            <th scope="col">Дата получения</th>
            <th scope="col">Адрес</th>
            <th scope="col">id Водителя</th>
            <th scope="col">Описание</th>
            <th scope="col">
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td scope="col"><p th:text="${order.getId()}"></p></td>
            <td scope="col"><p th:text="${order.getNumber()}"></td>
            <td scope="col"><input type="date" disabled th:value="${order.getReceivingDate()}"></td>
            <td scope="col"><p th:text="${order.getAddress()}"></td>
            <td scope="col"><p th:text="${order.getDriverId()}"></td>
            <td scope="col"><p th:text="${order.getDescription()}"></td>
            <td scope="col">
                <div>
                    <a th:href="'/orders/del/'+${order.getId()}" role="button"
                       class="btn btn-success ml-0">Удалить</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.css}"></script>
</body>
</html>