<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div class="reg">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:75vh">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Регистрация</div>
                    <div class="card-body">

                        <form role="form" th:object="${form}" th:action="@{/register}" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">Username</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="username" id="name" placeholder="Username" />
                                    </div>
                                </div>
                            </div>
                            <div th:if="${loginError}" id="loginError">
                                <div class="alert alert-danger">
                                    Данный логин уже занят
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Пароль</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Пароль" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm" class="cols-sm-2 control-label">Подтвердите пароль</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Пароль" />
                                    </div>
                                </div>
                            </div>
                            <div id="passwordMismatch" style="display: none">
                                <div class="alert alert-danger">
                                    Пароли не совпадают!
                                </div>
                            </div>
                            <div class="form-group ">
                                <input type="submit" id="registerButton" class="btn btn-primary btn-lg btn-block" value="Зарегистрироваться">
                            </div>
                            <div class="login-register">
                                <a href="login.html">Войти</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.css}"></script>
<script>
  function validatePasswordMismatch(){
    let password1 = document.getElementById('password').value;
    let password2 = document.getElementById('confirm').value;
    let element = document.getElementById('passwordMismatch');
    let button = document.getElementById('registerButton');
    if (password1!==password2) {
      element.style.display = "block";
      button.disabled = true;
    }else{
      element.style.display = "none";
      button.disabled = false;
    }
  }
  function disableLoginError() {
    let element = document.getElementById('loginError');
    if (typeof (element) != 'undefined' && element != null) {
      element.style.display = "none";
    }
  }
</script>
</body>
</html>